.Toolbar{
    height:56px;
    width:100%;
    display:flex;
    top:0px;
    left:0px;
    position:fixed;
    justify-content: space-between;
    padding:0px 20px;
    z-index:90;/*less than backdrop*/
    box-sizing:border-box;
    background-color:brown;
    align-items:center;
}

.Toolbar nav{
    height:100%;
}

@media (max-width:499px){
    .Desktoponly{
        display:none;
    }
}