.Button {
    background-color: transparent;
    border: 1px solid black;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    font-weight: bold;
    z-index:500;/* as buttton needsto be shown in modal z axis*/
}

.Disabled{
    background-color: #888888;
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}
